
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #eee;
    font-family: sans-serif;
}
.calculator{
    background: #222;
    padding: 20px;
    width: 220px;
}
#display{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}
button{
    width: 48px;
    height:40px;
    margin: 2px;
    font-size: 18px;
    cursor: pointer;    
} 
button {
    width: 66px;
    height: 40px;
    margin: 2px;
    font-size: 18px;
    cursor: pointer;
}
